/* Palette colors */
$color-red: #FF5151;
$color-red-dark: #dd4646;
$color-blue: #62c1ff;
$color-blue-dark: #59a3db;

/* Functional colors */
$color-link: $color-blue;
$color-link-hover: $color-blue-dark;
