a {
	cursor: pointer;
	color: $color-link;

	&:hover{
		color: $color-link-hover;
	}
}

button {
	background: transparent;
	border: 1px solid $color-blue;
	color: $color-link;

	&:hover {
		border-color: $color-link-hover;
	}
}