.measures {
	display: inline-block;
	position: relative;
}

.measure {
	position: absolute;
	background: transparent;
	height: 1px;
	display: block;
	color: $color-red;
	user-select: none;

	&::before {
		content: '';
		width: 100vw;
		border-top: 1px dashed $color-red;
		position: absolute;
		right: 100%;
	}

	&.is-drag {
		color: $color-blue-dark;

		&::before {
			border-top-color: $color-blue-dark;
		}
	}

	&::before {
		top: 0;
	}

	&--dragable {
		z-index: 100;
	}

	&--xheight {
		height: 1ex; // height required for correct measurement in tool
		min-width: 2ex;
		bottom: 0;
	}

	&--font-size {
		bottom: 1em;
	}

	&--baseline {
		bottom: -1px;

		&::before {
			border-top-style: solid;
		}
	}

	&__label {
		word-break: normal;
		font-family: Avenir, sans-serif;
		position: absolute;
		font-size: 14px;
		transform: translateY(-50%);
		display: block;
		margin-left: 10px;
		width: 150px;
		text-align: left;
	}

	&__drag {
		@include height(1.5);
		@include width(1.5);
		@include margin(1);
		display: inline-block;
		vertical-align: middle;
		border-radius: 100%;
		background: $color-blue;
		cursor: pointer;
		position: relative;
		border: 3px solid #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		transition: 200ms all ease-out;
		will-change: auto;

		&::after,
		&::before {
			@include width(1);
			content: '';
			height: 1px;
			background: #fff;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: 200ms all ease-out;
			will-change: auto;
			opacity: 0;
		}

		&::before {
			top: 40%;
		}

		&::after {
			top: 60%;
		}

		.is-drag &,
		&:hover {
			@include width(2.5);
			@include height(2.5);
			@include margin(0.5);
			background: $color-blue-dark;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

			&::before,
			&::after{
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
		}
	}

	&__dummie {
		width: 1ex;
		height: 1ex;
		background: #0f9;
	}
}